
.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  p{
    margin: 0;
      text-align: center;
      font-family: Share Tech;
      background-color: #004643;
      color: #FAF4DE ;
           
}

.redText{
    color: red;
}

body{
    
    background-color: #FAF4D3;
    margin: 0;
}
.dotted{
    color: #0C1618;
    border-style: dotted;
    border-color: #004643;
    padding: 2%;
}
.red{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 5px;
    display: inline-block;
}
.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 5px;
    display: inline-block;
}
.green{
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 5px;
    display: inline-block;
}